
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Body layout */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFCCFF;                   /* Sets background colour to pink */
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.jpg) no-repeat center top; /* 432px x 432px */
    position:absolute;             /* position in the center of the screen */
    left:30%;                      /* positioned 30% from the left */
    top:10%;                       /* positioned 10% from the top */
    height:40%;                    /* text area height is 40% */
    width:40%;                     /* text area width is 40% */
    text-align:center;             /* Sets text to be in the centre of the app */
    padding: 50px 0px 50px 0px;    
    margin: 50px 0px 216px 0px;    
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 0px;
        margin: 0px 0px 0px 0px;
    }
}

h1 {
    font-size:72px;
    font-weight:bold;
    margin:50px 0px 50px 0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h2 {
    font-size:48px;
    font-weight:normal;
    margin:0px 0px 50px 0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:30px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#ff4d4d;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 500ms infinite; /* Adds animation to class = blink which fades every 500ms and goes infinite. */
    -webkit-animation:fade 500ms infinite; /* Uses webkit to apply the fade effect. */
}